{
  "openapi": "3.1.0",
  "info": {
    "title": "Slopcafe HTTP API",
    "version": "3.0.0",
    "description": "Generated from src/contract.ts (Zod). The narrative/behavioral contract lives in docs/http-api.md; this document is the precise shape reference. Some routes (content-negotiated reads, HTML/UI surfaces, the JSON-RPC /mcp door, and OAuth-library endpoints) are only partly modelled here — see their descriptions.\n\nTwo properties hold across every error response this Worker emits itself (i.e. each `ErrorBody` response below — not the OAuth provider library's own endpoints), so they are stated once here rather than repeated on ~200 response entries: the body is always the `ErrorBody` shape (a discriminated union on `error`, whose members add their own context fields), and the response carries `Link: </openapi.json>; rel=\"service-desc\"` (RFC 8631) so even a failed request teaches a client where the contract lives. `GET /healthz` is the in-band discovery document.\n\nCROSS-ORIGIN (CORS). Off by default; a deployment enables it by listing exact origins in the `CORS_ALLOWED_ORIGINS` var. When on, the machine-readable routes below — the document API under `/d` and `/s`, the JSON operator API under `/admin` (but NOT the HTML console at `/admin/console`), `/healthz`, `/openapi.json` and the bundled documentation under `/docs` — answer a preflight and carry `Access-Control-Allow-Origin` for an allowlisted origin. The browser/HTML surfaces (`/login`, `/logout`, `/authorize`, `/admin/console/*`, `/d/{public_id}/manage`, `/d/{public_id}/revoke` and the manage page's form POSTs) are excluded. **Credentials are never allowed**: the CORS credentials header is not emitted on any response, so the operator's session cookies are unusable cross-origin and a cross-origin caller authenticates with a Bearer token (`ApiKeyBearer`) only. Only these response headers are readable cross-origin: `etag`, `link`, `location`, `x-converter-version`, `x-doc-current-version`, `x-sanitizer-version` — a client doing optimistic concurrency needs the third and fifth of those. Preflights are handled by a wrapper ahead of routing and are therefore not modelled as per-route `OPTIONS` operations; `GET /healthz` reports whether the caller's own origin is allowed. Full details in docs/http-api.md."
  },
  "servers": [
    {
      "url": "https://slopcafe.com"
    }
  ],
  "tags": [
    {
      "name": "Public",
      "description": "Unauthenticated landing, health, static, and this spec."
    },
    {
      "name": "Documents",
      "description": "Publish/update/read/revoke documents by public_id."
    },
    {
      "name": "Slugs",
      "description": "Slug-addressed read surface (the /s/ namespace)."
    },
    {
      "name": "Versions",
      "description": "Operator-only version-history views."
    },
    {
      "name": "Management",
      "description": "Operator browser management + form POSTs (HTML)."
    },
    {
      "name": "Session",
      "description": "Operator browser sign-in/out."
    },
    {
      "name": "OAuth",
      "description": "OAuth 2.1 consent + provider-library endpoints."
    },
    {
      "name": "MCP",
      "description": "Streamable-HTTP MCP (JSON-RPC) connector door."
    },
    {
      "name": "Console",
      "description": "Operator browser console (HTML, no JS), cookie-session authed; form-field CSRF; POST twins of the JSON admin DELETEs."
    },
    {
      "name": "Admin: Agents",
      "description": "Operator agent + key administration."
    },
    {
      "name": "Admin: Documents",
      "description": "Operator document listing, search, and mutators."
    },
    {
      "name": "Admin: Slugs",
      "description": "Operator slug-tombstone redirect/release."
    },
    {
      "name": "Admin: OAuth",
      "description": "Operator OAuth-client administration."
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Public landing page (homepage document, framed shell). Like every HTML byte surface it renders the SERVED version (migration 0018): a public document shows its `published_ver` — the version an operator promoted — not whatever an agent wrote last.",
        "security": [],
        "responses": {
          "200": {
            "description": "HTML landing shell (the homepage document's published version) — or, when the `HOMEPAGE_PUBLIC_ID` var is unset/malformed or names a document that is missing, revoked, or not publicly readable, a short placeholder page carrying `noindex`. This route no longer 404s: a deployment with no homepage configured yet is a normal state, not an error.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Health/smoke check — confirms D1 + R2 bindings and migrations. Also the API's in-band DISCOVERY document: the 200 carries absolute `openapi` / `docs` / `mcp` pointers built from the request origin, so an agent holding only a base URL can find the contract.",
        "security": [],
        "responses": {
          "200": {
            "description": "Bindings reachable; exact counts are safe to expose. Also carries the three discovery pointers (`openapi`, `docs`, `mcp`) named in the summary.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthzResponse"
                }
              }
            }
          }
        }
      }
    },
    "/shell.js": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Toolbar enhancement script for the document shell (progressive enhancement).",
        "security": [],
        "responses": {
          "200": {
            "description": "text/javascript, loaded under the shell's `script-src 'self'`.",
            "content": {
              "text/javascript": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "This OpenAPI 3.1 document (generated from src/contract.ts).",
        "security": [],
        "responses": {
          "200": {
            "description": "The OpenAPI 3.1 spec.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/assetlinks.json": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Android App Links verification. 200 with the statement list only when APP_LINKS_ANDROID_PACKAGE + APP_LINKS_ANDROID_SHA256 are both set and valid; otherwise 404 `not_found` — the same body an unmatched route gets.",
        "security": [],
        "responses": {
          "200": {
            "description": "The statement list naming this deployment's Android app.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AndroidAssetLinksResponse"
                }
              }
            }
          },
          "404": {
            "description": "APP_LINKS_ANDROID_PACKAGE / APP_LINKS_ANDROID_SHA256 unset or malformed on this deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/apple-app-site-association": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "iOS Universal Links verification (the modern `components` form, covering /d/* and /s/*). 200 only when APP_LINKS_APPLE_APP_ID is set and valid; otherwise 404 `not_found`.",
        "security": [],
        "responses": {
          "200": {
            "description": "Served with no file extension and no redirect, per Apple's requirement.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppleAppSiteAssociationResponse"
                }
              }
            }
          },
          "404": {
            "description": "APP_LINKS_APPLE_APP_ID unset or malformed on this deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/docs": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Index of the platform documentation bundled with this deployment.",
        "security": [],
        "responses": {
          "200": {
            "description": "HTML index listing every bundled doc and the repo path it is built from.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/docs/{name}": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "One bundled documentation page. Content-negotiated: `Accept: text/markdown` returns the Markdown source (what an agent ingests as context), anything else the HTML shell. `Vary: Accept`.",
        "security": [],
        "responses": {
          "200": {
            "description": "HTML shell framing /docs/{name}/raw, or `text/markdown` source when negotiated. Strong `ETag`.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "No such documentation page in THIS build.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Path parameter `name`.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/docs/{name}/raw": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "The framed bytes for a bundled documentation page, sanitized at build time.",
        "security": [],
        "responses": {
          "200": {
            "description": "Sanitized HTML under the render CSP. Strong `ETag`; conditional GET returns 304.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "No such documentation page in THIS build.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Path parameter `name`.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/d": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Publish a document (sanitize + store). Agent key required.",
        "security": [
          {
            "ApiKeyBearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Stored. `Location` + `ETag` headers set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WriteResponse"
                }
              }
            }
          },
          "400": {
            "description": "empty_body | bad_integrity_header | bad_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "slug_taken | slug_retired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "413": {
            "description": "too_large | storage_cap_exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "415": {
            "description": "unsupported_media_type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "422": {
            "description": "invalid_slug | integrity_mismatch | too_deep",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-Doc-Title",
            "in": "header",
            "description": "Document title. Omit to derive from the first <h1>; empty to re-derive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Doc-Description",
            "in": "header",
            "description": "Short description. Omit/empty for none.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Doc-Tags",
            "in": "header",
            "description": "Comma-separated tags ([A-Za-z0-9_-]; invalid chars stripped).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Doc-Slug",
            "in": "header",
            "description": "Unique slug /^[a-z0-9](?:[a-z0-9_-]{0,62}[a-z0-9])?$/. Invalid→422, in use→409.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Content-SHA256",
            "in": "header",
            "description": "Optional byte-exact integrity check (64-hex, optional `sha256:` prefix) over the raw body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Raw document bytes. `text/html` is sanitized; `text/markdown` is parsed then sanitized.",
          "content": {
            "text/html": {
              "schema": {
                "type": "string"
              }
            },
            "text/markdown": {
              "schema": {
                "type": "string"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "List documents (incl. revoked, with `revoked_at` set), newest-first, cursor-paginated. Agent-reachable twin of `GET /admin/documents` (same shape/core), gated by agent key OR operator. `?slug=…` returns the 0-or-1 matching row — the slug → public_id lookup for the id-only PUT /d/:id, /source, /links routes. With `?order=updated` (+ optional `?updated_since=`) this is also the corpus CHANGE FEED (migration 0017), and `?visibility=public&publication=pending` is the REVIEW QUEUE — public docs whose newest version has not been promoted (migration 0018) — without walking the corpus.",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Documents page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDocumentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad_limit | bad_cursor (incl. a cursor replayed under the other `order`) | bad_slug | bad_status | bad_request (unknown `order` / `visibility` / `publication`, or unparseable `updated_since`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default 50, max 200).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque base64url cursor from a prior page's `next_cursor`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort field: `created` (default — newest published first) or `updated`, which walks `documents.updated_at` so classification changes (retag/rename/visibility/status/revoke) surface too. A cursor carries the ordering that minted it: replaying one under the other ordering is a hard 400 bad_cursor, not a silent re-sort.",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "updated"
              ]
            }
          },
          {
            "name": "updated_since",
            "in": "query",
            "description": "Inclusive change window: `updated_at >= this`. Accepts a bare date (2026-07-01), a `…Z` instant, or an offset stamp; normalized server-side. Inclusive on purpose so a resuming consumer re-delivers the boundary row rather than skipping one at a shared millisecond. Unparseable → 400 bad_request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "AND-filter by tag (repeatable).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "Filter by slug (exact match; 0 or 1 rows) — the slug→public_id resolver.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by lifecycle status (migration 0014). Omit to include everything — deprecated docs are then included and marked per row. Invalid value → 400 bad_status.",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "deprecated",
                "archived"
              ]
            }
          },
          {
            "name": "visibility",
            "in": "query",
            "description": "Filter by anonymous readability (migration 0011). Omit for both. Invalid value → 400 bad_request.",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "private"
              ]
            }
          },
          {
            "name": "publication",
            "in": "query",
            "description": "Filter on the publication pointer vs the newest version (migration 0018). `pending` = `published_ver IS NOT current_ver` (a public doc owed a promote; on a private doc this also covers never-published). `current` = the published version is the newest, so a promote would be a no-op. REVOKED DOCS MATCH NEITHER (revoke nulls both pointers). Combine with `visibility=public` for the review queue. Invalid value → 400 bad_request.",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "current"
              ]
            }
          }
        ]
      }
    },
    "/d/search": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Hybrid (keyword + semantic) search over live documents. Agent-reachable twin of `GET /admin/documents/search` (same shape/core), gated by agent key OR operator. NOT paginated. With ?include_bodies=true the 200 becomes a CONTEXT PACK (PackResponse): full markdown bodies best-first under budget_bytes/max_documents, the rest in omitted[].",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Hits (possibly empty), relevance-ranked — or, with include_bodies=true, the PackResponse envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchOrPackResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad_limit | bad_status | bad_request (bad `mode` / `visibility` / `publication`, or unparseable `updated_since`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "422": {
            "description": "bad_query (no leg could run)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Query. Keyword leg tokenizes it (words ≥2 chars, trailing * for prefix); semantic leg embeds it raw.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "hybrid (default) | keyword | semantic.",
            "schema": {
              "type": "string",
              "enum": [
                "hybrid",
                "keyword",
                "semantic"
              ]
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "AND-filter by tag (repeatable). Applies to both legs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "Filter by slug. Applies to both legs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by lifecycle status (migration 0014). Omit to include everything — deprecated docs are then included and marked per row. Invalid value → 400 bad_status.",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "deprecated",
                "archived"
              ]
            }
          },
          {
            "name": "visibility",
            "in": "query",
            "description": "Filter by anonymous readability (migration 0011). Omit for both. Invalid value → 400 bad_request.",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "private"
              ]
            }
          },
          {
            "name": "publication",
            "in": "query",
            "description": "Filter on the publication pointer vs the newest version (migration 0018). `pending` = `published_ver IS NOT current_ver` (a public doc owed a promote; on a private doc this also covers never-published). `current` = the published version is the newest, so a promote would be a no-op. REVOKED DOCS MATCH NEITHER (revoke nulls both pointers). Combine with `visibility=public` for the review queue. Invalid value → 400 bad_request.",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "current"
              ]
            }
          },
          {
            "name": "updated_since",
            "in": "query",
            "description": "Inclusive change window: `updated_at >= this`. Accepts a bare date (2026-07-01), a `…Z` instant, or an offset stamp; normalized server-side. Inclusive on purpose so a resuming consumer re-delivers the boundary row rather than skipping one at a shared millisecond. Unparseable → 400 bad_request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Cap (default 50, max 200).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "include_bodies",
            "in": "query",
            "description": "true → return a context pack (PackResponse) instead of bare hits.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "budget_bytes",
            "in": "query",
            "description": "Pack body budget in STORED bytes (default 65536, ~16K tokens; max 262144). Clamped, not rejected.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_documents",
            "in": "query",
            "description": "Pack body-count cap (default 8, max 25). Clamped, not rejected.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include_deprecated",
            "in": "query",
            "description": "true → deprecated docs join the pack fill instead of being omitted-and-reported.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ]
      }
    },
    "/d/pack": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Load a DOCUMENT/MANIFEST-root context pack: the root's own prose plus the full markdown bodies of the documents it references, budget-filled in one call. HTTP twin of the MCP `load_context_pack` tool (same core), gated by agent key OR operator. Members come from a fenced ```pack manifest block in the root's source when present (authored order, required tier first), else from the root's outbound /d/<id> + /s/<slug> links in order of appearance. Bodies are included WHOLE or omitted-and-reported (never truncated); the root's own prose is not counted against the budget.",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "The pack envelope: accounting + root prose (`pack`), included bodies (`documents`), and the omitted-members menu (`omitted`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad_request (missing `from`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "not_found (`from` matches no live document)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "gone (`from` is a retired slug — slugs are never reused)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "The root document: a live slug (curated packs are conventionally `pack-<name>`) or a 22-char public_id. Live-slug-first resolution.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "budget_bytes",
            "in": "query",
            "description": "Pack body budget in STORED bytes (default 65536, ~16K tokens; max 262144). Clamped, not rejected.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_documents",
            "in": "query",
            "description": "Pack body-count cap (default 8, max 25). Clamped, not rejected.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include_deprecated",
            "in": "query",
            "description": "true → deprecated members join the fill instead of being omitted-and-reported.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "follow_redirects",
            "in": "query",
            "description": "true → a deprecated member with a `superseded_by` pointer is replaced by its target in the fill (the original stays visible in omitted[]; single-hop).",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ]
      }
    },
    "/d/{public_id}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Read a document. Content-negotiated on the Authorization header: no header → HTML shell; valid credential (agent key OR operator token) → raw sanitized bytes; bad credential → 401. Private docs 404 to anonymous callers (no existence oracle). The shell branch does NOT honor If-None-Match. BOTH branches render the SERVED version (migration 0018): a PUBLIC document serves its `published_ver` to every caller alike — anonymous, agent and operator — while a private one serves `current_ver`. The shell's title, description and version banner describe those same bytes, so they too can trail `current_ver`; the bytes branch delegates to /raw and inherits its ETag and `x-doc-current-version` header.",
        "security": [
          {},
          {
            "ApiKeyBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTML shell (no auth) or sanitized bytes (agent key or operator token) — the served version in both cases.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized (a malformed/invalid credential — not downgraded to the shell).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "HTML 404 card (browser) or plain text (credential present) — same opaque 404 for missing/revoked/private.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "tags": [
          "Documents"
        ],
        "summary": "Update a document (new version). Agent key + If-Match required. On a PUBLIC document the new version is STORED but not rendered: the byte path stays pinned to `published_ver` until the operator promotes it (POST /admin/documents/{public_id}/promote), so a successful 200 here does not mean readers see it. For the same reason an agent may not change or clear a public document's slug (403 slug_locked) — content writes are unaffected. Preflight `If-Match` from the `x-doc-current-version` header on /raw, NOT from its ETag, which now names the published version.",
        "security": [
          {
            "ApiKeyBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "New version stored (on a public doc: stored, not yet published). `Location` + `ETag` headers set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WriteResponse"
                }
              }
            }
          },
          "400": {
            "description": "empty_body | bad_request | bad_integrity_header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "slug_locked (an agent sending a slug change/clear for a PUBLIC document — re-send without the slug field, or ask the operator to rename it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "not_found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "slug_taken | slug_retired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "precondition_failed (If-Match version mismatch)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "413": {
            "description": "too_large | storage_cap_exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "415": {
            "description": "unsupported_media_type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "422": {
            "description": "invalid_slug | integrity_mismatch | too_deep",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "428": {
            "description": "precondition_required (If-Match missing)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": true,
            "description": "Required (428 if missing). Send `\"v<n>\"` (or the lenient `v<n>`/`<n>` forms) or `*`. On a public document `v<n>` is the version from `x-doc-current-version`, not the served ETag.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Doc-Title",
            "in": "header",
            "description": "Document title. Omit to derive from the first <h1>; empty to re-derive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Doc-Description",
            "in": "header",
            "description": "Short description. Omit/empty for none.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Doc-Tags",
            "in": "header",
            "description": "Comma-separated tags ([A-Za-z0-9_-]; invalid chars stripped).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Doc-Slug",
            "in": "header",
            "description": "Unique slug /^[a-z0-9](?:[a-z0-9_-]{0,62}[a-z0-9])?$/. Invalid→422, in use→409.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Content-SHA256",
            "in": "header",
            "description": "Optional byte-exact integrity check (64-hex, optional `sha256:` prefix) over the raw body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Raw document bytes. `text/html` is sanitized; `text/markdown` is parsed then sanitized.",
          "content": {
            "text/html": {
              "schema": {
                "type": "string"
              }
            },
            "text/markdown": {
              "schema": {
                "type": "string"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Documents"
        ],
        "summary": "Revoke (kill) a document + purge R2 bytes. Operator-gated. IDEMPOTENT: re-issuing the DELETE on an already-revoked document re-runs the purge and returns 200 (it does NOT re-stamp `revoked_at`) — the purge throws loudly on an R2 failure after the kill has landed, so retrying has to be the recovery.",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked — or re-purged, if it was already revoked. `r2_objects_purged` counts H blobs (one per version).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "csrf_failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "not_found (unknown or malformed public_id — NOT 'already revoked')",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "description": "Required when authed via session cookie.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/d/{public_id}/tags": {
      "put": {
        "tags": [
          "Documents"
        ],
        "summary": "Replace a document's tags (full replacement; `[]` clears). AGENT-reachable — an active agent key OR the operator, never anonymous — and the agent-door twin of `POST /admin/documents/{public_id}/tags` (same core, byte-identical response). No version bump, so no If-Match: concurrent retags are last-write-wins. PUT rather than POST because POST on this path is the manage page's HTML form.",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tags replaced.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetDocumentTagsResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad_json | bad_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "not_found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Charset [A-Za-z0-9_-]; invalid chars are silently stripped, not rejected."
                  }
                },
                "required": [
                  "tags"
                ]
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Management"
        ],
        "summary": "Operator form: replace a doc's tags (comma-separated `tags` field; full replacement, no version bump).",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Manage page or result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "string",
                    "description": "Comma-separated tags ([A-Za-z0-9_-]; invalid chars stripped). Empty clears all."
                  },
                  "operator_token": {
                    "type": "string"
                  },
                  "csrf_token": {
                    "type": "string"
                  }
                },
                "required": [
                  "tags"
                ]
              }
            }
          }
        }
      }
    },
    "/d/{public_id}/status": {
      "put": {
        "tags": [
          "Documents"
        ],
        "summary": "Set a document's lifecycle status (active|deprecated; archived reserved). AGENT-reachable twin of `POST /admin/documents/{public_id}/status` — this is how an agent retires its own superseded work. No version bump, no If-Match. Status gates nothing: a deprecated doc still serves and still ranks in search (marked per row), but context-pack fills skip it by default. `visibility` and revoke stay OPERATOR-only — do not add a third mutator here by analogy.",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Status set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetDocumentStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad_json | bad_request | invalid_status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "not_found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "422": {
            "description": "bad_target (superseded_by not a live doc / self-pointer)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "deprecated"
                    ],
                    "description": "\"archived\" is reserved and rejected in v1."
                  },
                  "superseded_by": {
                    "type": "string",
                    "description": "Replacement doc's public_id (deprecated only). Full-replace per call; omitted/null clears. Must be live, not self."
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Management"
        ],
        "summary": "Operator form: set lifecycle status active|deprecated (no version bump). Optional superseded_by pointer.",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Manage page or result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Result card (invalid_status).",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Result card (bad superseded_by target).",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "deprecated"
                    ]
                  },
                  "superseded_by": {
                    "type": "string",
                    "description": "Replacement doc's public_id (deprecated only; empty = none)."
                  },
                  "operator_token": {
                    "type": "string"
                  },
                  "csrf_token": {
                    "type": "string"
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        }
      }
    },
    "/d/{public_id}/raw": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Sanitized HTML bytes (what the sandboxed iframe loads). Honors If-None-Match → 304. Visibility gate: private docs 404 to anonymous callers. THE version pin (migration 0018): a PUBLIC document serves `published_ver` here — to anonymous, agent and operator alike — so no agent write alone can change what the open web reads; a private document serves `current_ver`. The `ETag` therefore names the SERVED version, which means promoting a different version changes it without a write, an unpublished new version leaves it alone, and it is NO LONGER a valid `If-Match` preflight for `PUT /d/{public_id}`. Use the `x-doc-current-version` response header instead: the document's NEWEST version — the one a PUT would be updating — as a decimal string, sent on the 200 AND the 304, and emitted ONLY to a credentialed caller (that staged, unpublished work exists is precisely what the pin withholds from readers, so for an anonymous caller it is absent rather than clamped). A client predating this contract, or reading a private document, correctly falls back to the ETag.",
        "security": [
          {},
          {
            "ApiKeyBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized HTML of the served version (Markdown docs get a reading-theme prefix). `ETag` set; `x-doc-current-version` set for a credentialed caller.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "If-None-Match satisfied (checked AFTER the visibility gate — never an oracle). Carries `ETag` + `x-doc-current-version` (credentialed only), so a preflight need not fetch the body."
          },
          "404": {
            "description": "Plain-text 'Not Found' (opaque for missing/revoked/private).",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "Send `\"v<n>\"` — the SERVED version, i.e. whatever the last ETag said; a match returns a bodyless 304.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/d/{public_id}/text": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Markdown derivation of the sanitized HTML, for agents ingesting as context. Requires a credential — an agent key OR operator (token/session); operator ≥ agent. CONTENT-NEGOTIATED on `Accept`: raw `text/markdown` by default, or the `ReadTextResponse` envelope (body + title/description/tags/slug/status/superseded_by in ONE call, exactly what MCP `read_document` format:\"markdown\" returns) when the caller asks for `application/json`.",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "text/markdown (default) or the ReadTextResponse envelope (Accept: application/json). Both set `x-sanitizer-version`, `x-converter-version`, `ETag` and `Vary: Accept`.",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadTextResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "not_found (opaque for missing/revoked/private; `message` may name `GET /d?slug=…` when the path segment is slug-shaped)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "`application/json` switches the 200 to the ReadTextResponse envelope (body + metadata in one call). Anything else — including a wildcard, and an absent header — keeps the historical `text/markdown` body. Both branches send `Vary: Accept`.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/d/{public_id}/source": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "The retained, UNSANITIZED source S + advisories re-derived from it (the read before edit_document). Requires a credential — an agent key OR operator (token/session); operator ≥ agent.",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Source returned with an explicit `unsanitized: true` provenance marker.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadSourceResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "not_found (opaque for missing/revoked/private; `message` may name `GET /d?slug=…` when the path segment is slug-shaped)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "source_unavailable (un-backfilled/legacy doc with no retained source).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/d/{public_id}/links": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "The document's link-graph neighborhood (issue #40): `backlinks` (live docs whose current version links here, as listing rows) + `outbound` (this doc's on-platform links with resolution states — retired/revoked/missing are the broken-link report). Requires a credential — an agent key OR operator (token/session); operator ≥ agent.",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Backlinks + outbound link health.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentLinksResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "not_found (opaque for missing/revoked/malformed; `message` may name `GET /d?slug=…` when the path segment is slug-shaped)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/s/{slug}": {
      "get": {
        "tags": [
          "Slugs"
        ],
        "summary": "Slug-addressed twin of GET /d/{public_id} — content-negotiated identically (shell vs bytes vs 401), keeping the pretty slug in the address bar (no 302). Retired slugs forward loudly or 410. Renders the SERVED version like every byte surface (migration 0018): a public document shows `published_ver`, and the shell's title/description come from that same version. The bytes branch delegates to /d/{public_id}/raw, so it inherits that route's served-version ETag and `x-doc-current-version` header.",
        "security": [
          {},
          {
            "ApiKeyBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTML shell (no auth) or sanitized bytes (agent key or operator token) — the served version in both cases.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "HTML 404 (browser) or plain text (credential present) — never-claimed slug, opaque.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "slug_redirected (credentialed caller, retired slug with a redirect, no follow_redirects).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "HTML Gone (browser) or JSON (credentialed caller) — retired slug, no redirect.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Path parameter `slug`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "follow_redirects",
            "in": "query",
            "description": "On a retired slug with a redirect target, `true` serves the target instead of 409/410.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ]
      }
    },
    "/s/{slug}/text": {
      "get": {
        "tags": [
          "Slugs"
        ],
        "summary": "Markdown derivation by slug (requires a credential — agent key OR operator; operator ≥ agent). Slug-addressed twin of /d/{id}/text, content-negotiated on `Accept` the same way.",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "text/markdown (default) or the ReadTextResponse envelope (Accept: application/json). Both send `Vary: Accept`.",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadTextResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "not_found (never-claimed slug, opaque).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "slug_redirected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "gone (retired slug, no redirect).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Path parameter `slug`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "`application/json` switches the 200 to the ReadTextResponse envelope (body + metadata in one call). Anything else — including a wildcard, and an absent header — keeps the historical `text/markdown` body. Both branches send `Vary: Accept`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "follow_redirects",
            "in": "query",
            "description": "On a retired slug with a redirect target, `true` serves the target instead of 409/410.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ]
      }
    },
    "/d/{public_id}/v/{n}": {
      "get": {
        "tags": [
          "Versions"
        ],
        "summary": "Operator-only: framed shell for historical version n. Non-operator → opaque 404.",
        "security": [
          {},
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTML shell with a historical-version banner.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "HTML 404.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "n",
            "in": "path",
            "required": true,
            "description": "Version number (positive integer).",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/d/{public_id}/v/{n}/raw": {
      "get": {
        "tags": [
          "Versions"
        ],
        "summary": "Operator-only: sanitized bytes of historical version n. Honors If-None-Match → 304.",
        "security": [
          {},
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized HTML of version n. `ETag` set.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "If-None-Match satisfied."
          },
          "404": {
            "description": "Plain-text 'Not Found' (also the non-operator opaque 404).",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "n",
            "in": "path",
            "required": true,
            "description": "Version number (positive integer).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "Send `\"v<n>\"` for a 304.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/d/{public_id}/manage": {
      "get": {
        "tags": [
          "Management"
        ],
        "summary": "Operator document-management page (visibility, slug, version history, revoke). Cookie session.",
        "security": [
          {},
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTML management page, or a sign-in card when logged out (no DB hit).",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Plain-text 'Not Found'.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/d/{public_id}/visibility": {
      "post": {
        "tags": [
          "Management"
        ],
        "summary": "Operator form: set public/private (no version bump; a flip to public also fills `published_ver` from `current_ver` when unset). Auth ladder: operator_token OR cookie+csrf_token.",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Re-rendered manage page (cookie) or result card (bearer).",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private"
                    ]
                  },
                  "operator_token": {
                    "type": "string"
                  },
                  "csrf_token": {
                    "type": "string"
                  }
                },
                "required": [
                  "visibility"
                ]
              }
            }
          }
        }
      }
    },
    "/d/{public_id}/slug": {
      "post": {
        "tags": [
          "Management"
        ],
        "summary": "Operator form: add/rename/clear the slug (no version bump; rename auto-forwards).",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Manage page or result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Result card (slug_taken | slug_retired).",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Result card (invalid_slug).",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "operator_token": {
                    "type": "string"
                  },
                  "csrf_token": {
                    "type": "string"
                  }
                },
                "required": [
                  "slug"
                ]
              }
            }
          }
        }
      }
    },
    "/d/{public_id}/restore": {
      "post": {
        "tags": [
          "Management"
        ],
        "summary": "Operator form: re-publish historical version n as a NEW version (source required).",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Manage page or result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Result card (source_unavailable | version_conflict).",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Result card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "507": {
            "description": "Result card (storage_cap_exceeded).",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "string",
                    "pattern": "^[1-9][0-9]*$"
                  },
                  "operator_token": {
                    "type": "string"
                  },
                  "csrf_token": {
                    "type": "string"
                  }
                },
                "required": [
                  "version"
                ]
              }
            }
          }
        }
      }
    },
    "/d/{public_id}/revoke": {
      "get": {
        "tags": [
          "Management"
        ],
        "summary": "Operator revoke confirmation page. Session-aware (CSRF form vs token field). Opaque 404.",
        "security": [
          {},
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTML confirmation form.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Plain-text 'Not Found'.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Management"
        ],
        "summary": "Operator form: revoke + purge. Returns terminal HTML (never a 302).",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTML success card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "HTML error card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "HTML error card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "HTML error card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `public_id`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "operator_token": {
                    "type": "string"
                  },
                  "csrf_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/login": {
      "get": {
        "tags": [
          "Session"
        ],
        "summary": "Operator browser sign-in form.",
        "security": [],
        "responses": {
          "200": {
            "description": "HTML login form.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "next",
            "in": "query",
            "description": "Same-origin path to return to (validated).",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Session"
        ],
        "summary": "Validate operator token (constant-time) → set signed session + CSRF cookies → 302 to next.",
        "security": [],
        "responses": {
          "302": {
            "description": "Redirect to `next` with Set-Cookie: session + CSRF."
          },
          "400": {
            "description": "Form re-rendered.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Form re-rendered.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "operator_token": {
                    "type": "string"
                  },
                  "next": {
                    "type": "string"
                  }
                },
                "required": [
                  "operator_token"
                ]
              }
            }
          }
        }
      }
    },
    "/logout": {
      "get": {
        "tags": [
          "Session"
        ],
        "summary": "Logout confirmation page (confirm-before-logout).",
        "security": [
          {},
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTML confirmation form.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Session"
        ],
        "summary": "Clear session + CSRF cookies. CSRF-checked.",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to / (cookies cleared)."
          },
          "403": {
            "description": "Form re-rendered.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "csrf_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/authorize": {
      "get": {
        "tags": [
          "OAuth"
        ],
        "summary": "OAuth consent UI (Door A). Session-aware: operators see inline repair cards (TOFU callback, bind-or-mint, login link); non-operators see a generic consent/error card.",
        "security": [
          {},
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTML consent / repair / error card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "HTML error card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "description": "OAuth client id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "description": "Post-grant callback.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Opaque client state.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "description": "`code`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "description": "Requested scope.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_challenge",
            "in": "query",
            "description": "PKCE challenge.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_challenge_method",
            "in": "query",
            "description": "PKCE method (`S256`).",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "Operator consent decision (allow/deny/allow_callback). Binds unbound clients at consent.",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTML card (denied / callback approved).",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "302": {
            "description": "Redirect to the client redirect_uri (action=allow)."
          },
          "400": {
            "description": "HTML card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "HTML card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "HTML card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "HTML card (bind race).",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "HTML card.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "allow",
                      "deny",
                      "allow_callback"
                    ]
                  },
                  "agent_mode": {
                    "type": "string"
                  },
                  "agent_name": {
                    "type": "string"
                  },
                  "agent_id": {
                    "type": "string"
                  },
                  "operator_token": {
                    "type": "string"
                  },
                  "csrf_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/token": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "OAuth token endpoint — served by @cloudflare/workers-oauth-provider. Standard OAuth 2.1.",
        "security": [],
        "responses": {
          "200": {
            "description": "Standard OAuth 2.1 token response (access_token, token_type, expires_in, …)."
          }
        }
      }
    },
    "/register": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "Dynamic Client Registration (optional, ENABLE_DCR) — served by the OAuth provider library.",
        "security": [],
        "responses": {
          "201": {
            "description": "Standard OAuth DCR response (client_id, client_secret, …)."
          }
        }
      }
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "tags": [
          "OAuth"
        ],
        "summary": "OAuth 2.1 authorization-server discovery metadata (OAuth provider library).",
        "security": [],
        "responses": {
          "200": {
            "description": "Standard OAuth discovery metadata."
          }
        }
      }
    },
    "/.well-known/oauth-protected-resource": {
      "get": {
        "tags": [
          "OAuth"
        ],
        "summary": "OAuth protected-resource metadata (OAuth provider library).",
        "security": [],
        "responses": {
          "200": {
            "description": "Standard OAuth protected-resource metadata."
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Streamable-HTTP MCP transport (JSON-RPC 2.0, NOT REST). Agent-authed via Door A (OAuth token) or Door B (awh_ bearer). Tools: publish_document, update_document, edit_document, set_document_tags, set_document_status, read_document, list_documents, search_documents, load_context_pack, create_publish_credential. The request/response bodies are JSON-RPC envelopes (optionally an SSE stream), not schema-validated here — see docs/http-api.md. Every tool declares an `outputSchema` and returns `structuredContent`; an application failure returned by a Slopcafe handler keeps `<code>: <message>` text and adds `structuredContent.error`, so the code is machine-readable without parsing prose. SDK-level failures such as input-schema rejection retain the SDK's native shape. An optional `?toolset=reader|author|full` query selects a stable named preset; `?tools=a,b` remains the exact-list escape hatch. Omit both for all eleven. Unknown or empty selectors, or supplying both together, are refused with 400 bad_request before the transport. This narrows model context and host affordances, not the credential's authorization.",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "OAuthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "JSON-RPC 2.0 response (may be a Server-Sent-Events stream)."
          },
          "401": {
            "description": "Rejected by the OAuth provider before reaching the handler."
          }
        }
      }
    },
    "/admin": {
      "get": {
        "tags": [
          "Console"
        ],
        "summary": "Bare /admin → 302 to the console dashboard.",
        "security": [],
        "responses": {
          "302": {
            "description": "Redirect to /admin/console."
          }
        }
      }
    },
    "/admin/console": {
      "get": {
        "tags": [
          "Console"
        ],
        "summary": "Console dashboard — fleet counts + storage-used bar. Sign-in card when logged out.",
        "security": [
          {},
          {
            "CookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTML dashboard, or a sign-in card when logged out (no DB hit).",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
[...]
